body{
    font-family: Arial;
    background-color: #f0f8ff;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
}

.container{
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #aaa;
    width: 300px;
}

input,textarea{
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;

}

button{
    background: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}